# dependencies
/node_modules

# production
/dist
/build

# misc
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
/coverage

# VSCode
.vscode

# output
/public/weekly-digest-chart.png
/src/reports/weekly-digest*.md

# TypeScript
*.tsbuildinfo

# OS
Thumbs.db